 1. Write a Python Program to Find the Factorial of a Number?

In [1]:
def factorial(n):
  if n==1:
    return n
  else:
    fact=n*factorial(n-1)
    return fact
factorial(5)

120

Write a Python Program to Display the multiplication Table?

In [3]:
num=int(input('Enter the number '))
for i in range(1,11):
  print(num,'*',i,'=',num*i)

Enter the number 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

Write a Python Program to Print the Fibonacci sequence?

In [8]:
count=0
a=0
b=1
print(a)
print(b)
while True:
  c=a+b
  a=b
  b=c
  print(c)
  count=count+1
  if count==18:
    break

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

Write a Python Program to Check Armstrong Number?

In [24]:
user_input=int(input('Enter the number'))
digits=len(str(user_input))
num=user_input
add_sum=0
while num!=0:
  k=num%10
  add_sum+=k**digits
  num=num//10
if add_sum==user_input:
  print(user_input,'Number is an Armstrong number')
else:
  print(user_input,'Number is not an Armstrong number')

Enter the number150
150 Number is not an Armstrong number

Write a Python Program to Find Armstrong Number in an Interval?

In [28]:
for num in range(100,1000):
  i=num
  a=num%10
  num=num//10
  b=num%10
  c=num//10
  add=(a**3)+(b**3)+(c**3)
  if add==i:
    print(i)

153
370
371
407

Write a Python Program to Find the Sum of Natural Numbers?

In [31]:
num=int(input('Enter the number'))
sum=num*(num+1)/2
print(sum)

Enter the number16
136.0